<h1>Welcome to Jeff-Fit!</h1>

<%= link_to 'Exercises', controller: 'exercises' %>

<%= link_to 'Create new exercise', new_exercise_path %>

<%= link_to 'Programs', controller: 'programs' %>

<%= link_to 'Create new program', new_program_path %>
